.dev-issues{
    width: 80%;
    margin:auto;
}

.dev-issue{
    width: 110px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 1px 1px #CCC;
    padding: 10px;
    background: #efefef;
    border-radius: 5px;
    height: 170px;
    float: left;
}

.dev-issue .summary{
    font-size: 12px;
}